@tailwind base;
@tailwind components;
@tailwind utilities;

img, svg{
    user-select:none;
}

.markdown h4{
    font-weight:600;
    font-size: 1rem;
}
.markdown ul{
    list-style: initial;
}

.markdown a{
    color: #0070f3;
    text-decoration: none;
    border-bottom:1px solid #0070f3;
}